.homePage {
  &__header {
    margin: 0 auto;
    padding: 18px 32px;

    max-width: 1216px;
  }

  &__background {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    z-index: 0;
    pointer-events: none;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 800px;
    gap: 16px;
    margin: 0 0 100px;
    position: relative;
    z-index: 1;
    pointer-events: none;
  }

  &__main {
    padding: 120px 32px;
    margin: 0 auto;
    max-width: 1216px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    font-size: 128px;
    font-weight: 900;
    line-height: 128px;
  }

  &__description {
    font-family: Inter, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }

  &__last-video {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin: 0 0 100px;
    padding: 0 104px;
  }

  &__last-video-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 0 64px;
  }

  &__last-video-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 48px;
    color: oklch(0.924 0.12 95.746);
    text-shadow:
      0 0 2px oklch(0.924 0.12 95.746 / 0.85),
      0 0 6px oklch(0.924 0.12 95.746 / 0.6);
    margin: 0 0 12px;
  }

  &__last-video-subtitle {
    font-size: 18px;
    line-height: 26px;
    color: oklch(0.809 0.105 251.813);
  }

  &__last-video-player {
    width: 100%;
    aspect-ratio: 16 / 9;

    background-color: oklch(0.21 0.034 264.665);
    animation: blueGlow 10s infinite;
    border-radius: 20px;
    overflow: hidden;

    margin: 0 0 24px;
  }

  &__last-video-video-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: rgb(255, 255, 255);
    margin: 0 0 8px;
  }

  &__last-video-description {
    font-size: 16px;
    line-height: 24px;
    color: oklch(0.707 0.022 261.325);
  }

  &__comment-item {
    display: flex;
    width: fit-content;
    gap: 24px;
    position: relative;
    max-width: 920px;
    padding: 12px 16px;
    margin: 24px 0;

    font-size: 18px;
    color: oklch(0.943 0.029 294.588);
    line-height: 1.4;

    border-radius: 30px;

    background: linear-gradient(135deg, oklab(0.606 0.096545 -0.230606 / 0.18), oklab(0.606 0.096545 -0.230606 / 0.05));
    border: 1px solid oklab(0.606 0.096545 -0.230606 / 0.35);

    box-shadow:
      0 10px 30px oklab(0.606 0.096545 -0.230606 / 0.25),
      inset 0 1px 0 rgba(255, 255, 255, 0.15);

    transition:
      transform 0.25s ease,
      box-shadow 0.25s ease;
  }

  &__filters {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 22px;
  }

  &__table {
    width: 100%;
    max-height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 16px;
  }

  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    width: 100%;
    padding: 112px 32px;
  }

  @keyframes blueGlow {
    0% {
      box-shadow:
        0 0 30px rgba(0, 180, 255, 0.25),
        0 0 60px rgba(0, 180, 255, 0.15);
    }

    33% {
      box-shadow:
        0 0 30px rgba(0, 120, 255, 0.25),
        0 0 60px rgba(0, 120, 255, 0.12);
    }

    66% {
      box-shadow:
        0 0 30px rgba(120, 220, 255, 0.22),
        0 0 70px rgba(120, 220, 255, 0.12);
    }

    100% {
      box-shadow:
        0 0 30px rgba(0, 180, 255, 0.25),
        0 0 60px rgba(0, 180, 255, 0.15);
    }
  }
  @media (max-width: 900px) {
    &__title {
      font-size: 96px;
      line-height: 96px;
    }

    &__main {
      padding: 60px 12px;
    }

    &__last-video {
      margin: 0 0 86px;
      padding: 0 16px;
    }
  }

  @media (max-width: 768px) {
    &__info {
      height: 600px;
      gap: 12px;
      margin: 0 0 80px;
    }

    &__title {
      font-size: 84px;
      line-height: 84px;
    }

    &__description {
      font-size: 20px;
      line-height: 28px;
      text-align: center;
      padding: 0 16px;
    }

    &__main {
      padding: 90px 12px;
    }

    &__last-video {
      margin: 0 0 86px;
      padding: 0 16px;
    }
  }

  @media (max-width: 640px) {
    &__info {
      padding: 80px 16px;
      margin: 0 0 40px;
    }

    &__title {
      font-size: 48px;
      line-height: 52px;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
    }

    &__main {
      padding: 110px 12px;
    }

    &__last-video {
      margin: 0 0 86px;
      padding: 0;
    }
  }

  @media (max-width: 480px) {
    &__header {
      padding: 8px 12px;
    }

    &__main {
      padding: 40px 12px;
    }

    &__title {
      font-size: 40px;
      line-height: 44px;
    }

    &__description {
      font-size: 14px;
      line-height: 20px;
    }

    &__last-video-header {
      margin: 0 0 32px;
    }

    &__last-video-video-title {
      font-size: 14px;
    }

    &__last-video {
      display: flex;
      flex-direction: column;
      width: 100%;

      margin: 0 0 76px;
      padding: 0;
    }
  }

  @media (max-width: 360px) {
    &__header {
      padding: 8px 12px;
    }

    &__info {
      padding: 36px 10px;
      margin: 0;
    }

    &__main {
      padding: 40px 12px;
    }

    &__title {
      font-size: 32px;
      line-height: 36px;
    }

    &__description {
      font-size: 12px;
      line-height: 16px;
      padding: 0 6px;
    }

    &__last-video {
      display: flex;
      flex-direction: column;
      width: 100%;

      margin: 0 0 56px;
      padding: 0 16px;
    }

    &__last-video-header {
      margin: 0 0 32px;
    }

    &__last-video-video-title {
      font-size: 12px;
    }

    &__footer {
      width: 100%;
      padding: 32px 0;
    }
  }
}
