.homePage {
  &__header {
    padding: 0 32px;
    margin: 0 auto;

    max-width: 1216px;
  }

  &__background {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    z-index: 0;
    pointer-events: none;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 880px;
    gap: 16px;
    margin: 0 0 200px;
    position: relative;
    z-index: 1;
    pointer-events: none;
  }

  &__main {
    padding: 64px 32px;
    margin: 0 auto;
    max-width: 1216px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    font-size: 128px;
    font-weight: 900;
    line-height: 128px;
  }

  &__description {
    font-family: Inter, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }

  &__last-video {
    display: flex;
    flex-direction: column;
    width: 100%;

    margin: 0 0 126px;
    padding: 0 104px;
  }

  &__last-video-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 0 64px;
  }

  &__last-video-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    color: rgb(255, 255, 255);
    margin: 0 0 16px;
  }

  &__last-video-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: oklch(0.707 0.022 261.325);
  }

  &__last-video-player {
    width: 100%;
    height: 504px;
    background-color: oklch(0.21 0.034 264.665);

    margin: 0 0 24px;
  }

  &__last-video-video-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: rgb(255, 255, 255);
    margin: 0 0 8px;
  }

  &__last-video-description {
    font-size: 16px;
    line-height: 24px;
    color: oklch(0.707 0.022 261.325);
  }

  &__filters {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0 0 32px;
  }

  &__table {
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 22px;
  }

  &__footer {
    width: 100%;
    height: 500px;
  }
}
